@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');


.wrapper{
  position: absolute;
  /* background: #D9D9D9; */
  width: calc(100% - 250px);
  height: calc(100% - 170px);
  margin: auto;
  margin-left: 250px;
  margin-top: 85px;
  margin-right: 0px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.125);
  padding: 30px;
}

.popup {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: green;
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 9999; /* Valor alto para garantir que o popup apareça acima de tudo */
}

.wrapper .form .inputfield .textarea{
  width: 100%;
  height: 240px;
  resize: none;
}

.wrapper .form .inputfield{
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}


.wrapper .form .inputfield label{
  width: 200px;
  color: #757575;
  margin-right: 10px;
  font-size: 14px;
}

.wrapper .form .inputfield .input,
.wrapper .form .inputfield{
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.wrapper .form .inputfield .textarea{
  width: 100%;
  height: 125px;
  resize: none;
}

.wrapper .form .inputfield .custom_select{
  width: 100%;
  height: 37px;
}

.wrapper .form .inputfield .custom_select select{
  -webkit-appearance: none;
  -moz-appearance:   none;
  appearance:        none;
  outline: none;
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 8px 10px;
  font-size: 15px;
  border: 1px solid #d5dbd9;
  border-radius: 3px;
}

.wrapper .form .inputfield .btn{
  width: 100%;
  padding: 8px 10px;
  font-size: 15px; 
  border: 0px;
  background:  #01770a;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}

.wrapper .form .inputfield .btn:hover{
  background: #1d1600;
}

.wrapper .form .inputfield:last-child{
  margin-bottom: 0;
}

@media (max-width:420px) {
  .wrapper{
    margin-left: auto;
    margin-top: auto;
    margin: auto;
    position: relative;
    width: auto;
    height: auto;
  }
  .wrapper .form .inputfield{
    flex-direction: column;
    align-items: flex-start;
  }
  .wrapper .form .inputfield label{
    margin-bottom: 5px;
    
  }
  .wrapper .form .inputfield.terms{
    flex-direction: row;
  }
}

.swal-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999;
}

.swal-overlay .swal-button {
  background-color: #01770a !important;
}



