body {
  font-family: 'Roboto', sans-serif;
}

.wrapper{
  position: absolute;
  width: calc(100% - 250px);
  height: calc(100% - 170px);
  margin: auto;
  margin-left: 250px;
  margin-top: 85px;
  margin-right: 0px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.125);
  padding: 30px;
}
.wrapper2{
  position: absolute;
  width: calc(100% - 250px);
  height: calc(100% - 170px);
  margin: auto;
  margin-left: 250px;
  margin-top: 210px;
  margin-right: 0px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.125);
  padding: 30px;
}

.search-container {
  display: flex;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 5px;
}

.search-icon {
  margin-left: 8px;
}

button {
  padding: 5px 10px;
  background-color: #4CAF50;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px auto;
  display: flex;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
  border-right: 1px solid #ccc;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .pagination {
    display: none;
  }
  .wrapper{
    margin-left: auto;
    margin-top: auto;
    margin: auto;
    position: relative;
    width: auto;
    height: auto;
  }
  .wrapper2{
    margin-left: auto;
    margin-top: 180px;
    position: relative;
    width: auto;
    height: auto;
  }
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}

.pending-status {
  background-color: #959795;
  color: black;
}


.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.pagination button {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #333;
  cursor: pointer;
  font-size: 0.9rem;
  margin: 0.2rem;
  padding: 0.5rem;
}

.pagination button.active {
  background-color: #118a25;
  color: #fff;
}

.pagination button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.detalhes {
  background-color: #959795; /* cor de fundo */
  border: none;
  color: white; /* cor do texto */
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  width: 110px; /* largura */
}


.comment-form-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(27, 27, 27, 0.164);
  z-index: 999;
}

.comment-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.comment-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.comment-form textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  margin-bottom: 10px;
}

.comment-form button {
  background-color: #008CBA;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.comment-form button:hover {
  background-color: #00698C;
}




