@media (max-width: 768px) {
    .cards-container {
      display: block;
      margin-top: 0;
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 20px;
    }
  
    .cards-container > * {
      margin-bottom: 20px;
    }
  }
  