.wrapper{
  position: absolute;
  width: calc(100% - 250px);
  height: calc(100% - 170px);
  margin: auto;
  margin-left: 250px;
  margin-top: 85px;
  margin-right: 0px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.125);
  padding: 30px;
}

.wrapper2{
  position: absolute;
  width: calc(100% - 250px);
  height: calc(100% - 170px);
  margin: auto;
  margin-left: 250px;
  margin-top: 210px;
  margin-right: 0px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.125);
  padding: 30px;
}

.cell-active {
  background-color: green;
}

.cell-holiday {
  background-color: yellow;
}

.search-container {
  display: flex;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 5px;
}

.search-icon {
  margin-left: 8px;
}

button {
  padding: 5px 10px;
  background-color: #4CAF50;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px auto;
  display: flex;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
  border-right: 1px solid #ccc;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .pagination {
    display: none;
  }
  .wrapper{
    margin-left: auto;
    margin-top: auto;
    margin: auto;
    position: relative;
    width: auto;
    height: auto;
  }
  .wrapper2{
    margin-left: auto;
    margin-top: 180px;
    position: relative;
    width: auto;
    height: auto;
  }
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.pagination button {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #333;
  cursor: pointer;
  font-size: 0.9rem;
  margin: 0.2rem;
  padding: 0.5rem;
}

.pagination button.active {
  background-color: #118a25;
  color: #fff;
}

.pagination button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.active-status {
  background-color: #4CAF50;
}

.vacation-status {
  background-color: #f44336;
}

.edit,
.delete,
.historico {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  width: 45px; 
}

.historico{
  width: 45px;
  background-color: #959795;
}

.delete {
  background-color: #f44336; 
}

.swal-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999;
}

.swal-overlay .swal-button {
  background-color: #01770a !important;
}

.highlight {
  background-color: #ef4444;
}

/* .index {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.red-tag {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 0.5rem;
  background-color: red;
  border-radius: 50%;
} */







